.user-profile {

    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
}

.user-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.user-info p {
    margin: 5px 0;
}

.commandes-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.commande-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commande-card h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.commande-card ul {
    list-style-type: none;
    padding: 0;
}

.commande-card ul li {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}